numpy==1.26.4
pandas==2.1.4
matplotlib==3.8.0
python-utils>=3.4.5
xarray
contourpy
python-dotenv==1.1.0
tkcalendar==1.6.1
mysql-connector-python
scipy
scikit-learn
pymysql
PyWavelets
babel==2.17.0
seaborn>=0.12.0
sqlalchemy>=2.0.0